@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
    --main-container-color: #FFFFFF;
    --second-container-color: #C0C0C0;
    --third-container-color: #603AE8;
    --fourth-container-color: #7E8188;
    --hover-button-color: black;

    font-size: 62.5%
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.6rem;

    min-height: 100vh;
    background: linear-gradient(180deg, rgba(253, 26, 98, 1) 0%, rgba(251, 87, 52, 1) 100%);

    display: grid;
    place-items: center;
}


.container {
    overflow: hidden;
    background-color: var(--main-container-color);
    width: clamp(35rem, 75%, 100rem);
}

.container .container-header h1 {
    margin-left: 5rem;
    font-size: 4rem;
}

.container .container-header p {
    margin-left: 5rem;
    font-size: 2.5rem;

    position: relative;
    top: -2rem;
}

.container .container-options {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;
}

.container .container-options>* {
    background-color: var(--second-container-color);

    width: 30%;
    height: 5rem;

    text-align: center;

    display: grid;
    place-items: center;

    font-size: 1.5rem;
    font-weight: bold;

    text-decoration: none;

    transition: border 250ms ease;

    user-select: none;
    transition: all 250ms ease;
}


.container .container-options>*.active {
    color: var(--third-container-color);
    border-bottom: 0.3rem solid;
    margin-bottom: -0.3rem;
    border-color: var(--third-container-color);
}

.container .container-options>*.notActive {
    color: var(--fourth-container-color);
    border-bottom: 0.3rem solid;
    margin-bottom: -0.3rem;
    border-color: var(--second-container-color);
}

.container .container-options>*:hover:not(.active) {
    background-color: var(--third-container-color);
    color: var(--main-container-color);
    border-color: var(--main-container-color);

    transition: all 250ms ease;
}

.container .container-question .question {
    display: grid;
    place-items: center;
}

.container .container-question .question h2 {
    align-items: center;
    text-align: left;
    font-size: 2rem;

    max-width: 90%;

    margin-top: 3rem;
    font-weight: bold;
}

.container .container-question .question button {
    background-color: var(--third-container-color);
    color: var(--main-container-color);
    border: none;

    height: 5rem;
    width: 90%;

    margin-top: 1rem;
    margin-bottom: 1rem;

    align-items: center;
    text-align: center;

    font-weight: bold;
    outline: 0;

    box-shadow: 0.2rem 0.2rem 0.5rem 0.1rem rgba(0, 0, 0, 0.5);
    transition: background-color 250ms ease;
}

.container .container-question .question button:hover {
    background-color: var(--hover-button-color);

    transition: background-color 250ms ease;
}

#questions1-5 {
    display: block;
}

#questions6-10 {
    display: none;
}

#microCalculadora {
    display: none;
}