:root {
    --roxo: #673AB7;
}

* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #F0EBF8;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > * {
    margin-bottom: 30px;
}

header {
    overflow: hidden;
    width: 100%;
    height: 150px;
    background-color: var(--roxo);

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    font-size: 35px;
}

.question-container {
    overflow: hidden;
    background-color: white;
    width: clamp(200px, 70%, 1600px);

    position: relative;
    bottom: 30px;
}

.question-container .question-header {
    width: 100%;
    height: 100%;
}

.question-container .question-header h2 {
    font-size: 20px;
    text-align: left;
    padding-left: 2%
}

.question-container .question-header .line {
    border-top: 1px solid #dadce0;
    width: 100%;
}

.question-container .question-body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.question-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-body > * {
    margin-bottom: 20px;
}

.form__field {
    font-family: inherit;
    width: 75%;
    border: 0;
    border-bottom: 2px solid var(--roxo);
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}


button {
    background-color: var(--roxo);
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1.1rem;
}

button:hover {
    background-color: black;
    transition: all 300ms ease;
}