body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(150,150,150,1) 100%);
}

nav {
    background-color: rgb(50, 50, 50);
    height: 5vh;
    width: 100vw;
}

nav p {
    text-align: center;
    color: rgb(250, 250, 250);
    font: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 1vh;
}

.welcomer h2 { 
    text-align: justify;
    font: bolder;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;

    padding: 50px 0px 0px 50px;
}

.welcomer p {
    text-align: justify;
    font: bolder;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

    padding: 25px 0px 0px 50px;
}

.container {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    justify-content: flex-start;
	align-items: center;
	margin-top: 30px;
}

.music {
    width: 300px;
	height: 400px;
	margin-bottom: 30px;
	background-color: #f1f1f1;
	box-sizing: border-box;
    margin: 4px;
}

.music img {
    width: 100%;
	height: 200px;
	object-fit: cover;
	margin-bottom: 20px;
    mask-image: linear-gradient(to top, transparent 0%, black 25%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 25%);
}

.music h3 {
    margin-top: 0;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.music p {
    margin-bottom: 0;
	font-size: 12px;
	text-align: center;
}

audio {
    width: 100%;
    margin-top: 70px;
}